* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detail {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    background-color: white;
}

.detail-image {
    flex: 1;
    min-width: 600px;
    overflow: hidden;
    padding: 20px 0;
    margin: 0 20px;
    margin-left: 0;
    text-align: center;
}

.detail-info {
    flex: 1;
    min-width: 600px;
    overflow: hidden;
    padding: 20px 0;
    margin: 0 20px;
    margin-right: 50px;
}

.newoptionDiv {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 12px;
}

.thumbnail.active-thumbnail {
    border: 1px solid #006400;
}

    
footer {
    color: black;
    height: 50px;
    clear: both;
    text-align: center;
}

.footer_nav {
    display: flex;
    justify-content: space-between; /* 네비게이션 사이의 간격을 균등하게 분배 */
    align-items: center;
    width: 100%; /* 화면 가로 크기에 맞춤 */
    margin: 0;
    padding: 0;
}

.footer_nav ul {
    display: flex;
    padding: 0;
    width: 100%;
    margin: 0;
}

.footer_nav li {
    list-style: none;
    flex: 1;
}

.footer_nav a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none; /* 밑줄 제거 */
    border-top: 2px solid gray;
    color: gray; /* 링크 색상 */
    transition: color 0.3s; /* 색상 전환 효과 */
    padding: 10px 0;
}

.footer_nav a:hover {
    border-top: 2px solid #006400;
    color: #006400;
}

.footer_nav a.active {
    border-top: 2px solid #006400;
    color: #006400;          
}

hr {
    border: none;
    height: 2px;
    background-color: #006400;
    width: 100%;
    margin: 0;
}