* {margin:0; padding:0; box-sizing: border-box;}

header {
    height: 80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 50px;
    background-color: white;
}

header h1 {font-size: 24px;}
header h1 a {color: #333; text-decoration: none;}

.userBox{
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box{
    display: flex;
    align-items: center;
    height: 40px;
    width: 300px;
    background: #F0F0F0;
    border-radius: 40px;
    padding: 5px 10px;
    border: 1px solid #F0F0F0;
}

.search-txt{
    border:none;
    padding-left: 5%;
    background:none;
    outline:none;
    float: left;
    color: #797979;
    font-size: 16px;
    flex: 1;
}

.search-btn{
    color: #797979;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

header .userRegister {display: flex; gap: 10px;}
.userRegister button {
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
}

#signin {background-color: #006400;color: white;}
#signin:hover {background-color: #004d00;}
.userRegister button:hover {background-color: #f0f0f0;}






.lnb li{display: inline-block;}
.lnb {
    display: flex;
    justify-content: space-between; /* 네비게이션 사이의 간격을 균등하게 분배 */
    align-items: center;
    width: 100%; /* 화면 가로 크기에 맞춤 */
    margin: 0 auto;
    padding: 0;
    height:65px;
    background-color: white;
    padding: 10px 50px;}

.lnb ul {
    display: flex;
    padding: 0;
    width: 100%;
    margin: 0;
    justify-content: center;
    list-style-type: none;
}

.lnb ul li {
    font-size: 16px;
    list-style: none;
    flex: 1;
}

.lnb ul li a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none; /* 밑줄 제거 */
    border-bottom: 2px solid lightgray;
    color: gray; /* 링크 색상 */
    transition: color 0.3s; /* 색상 전환 효과 */
    padding: 10px 0;
}

.lnb ul li .active a,
.lnb ul li a:hover {
    border-bottom: 2px solid #006400;
    color: #006400;
    font-weight: bold;
}

body{font-family: Arial, Helvetica, sans-serif;}