{% extends "index.html" %}

{% block nav %}
<hr>
{% endblock %}

{% block content %}
    <br>
    <div id="title">
        <div>{{applier}}님의 커스터마이징 요청서</div>
    </div>

    <div style="width: 1512px; padding: 0px; overflow: hidden; justify-self: center;">
        <!--사진 등록 란.-->
        <div class="img-list" style="float: right; flex: 1; align-items: center; display: flex;">
            <div class="slider" style="align-items: center; display: flex; background-color: #bcbcbc;">
                {% if data.images %}
                    <div id="image-container" class="image-container">
                        <img id="prev-img" style="width: 660px; height: 660px;" src="/{{data.images[0]}}">
                    </div>
                    <button id="prev-btn" style="display: none;">◀</button>
                    <button id="next-btn" style="display: block;">▶</button>
                    <div id="image-data" data-images='{{ data.images|tojson|safe }}'></div>
                {% endif %}
                <label style="width: 660px; justify-items: center;">
                    <div>등록된 시안이 없습니다.</div>
                </label>
            </div>
        </div>

        <div class="info-box" style="float: left; flex: 1;">
            <!--이미지를 제외한 정보 등록 란-->
            <div class="info-box-1">
                <label for="name">상품명</label>
                <br>
                <div style="width: 100%; height: 52px; align-self: stretch; border: 1px solid dimgray; border-radius: 8px; align-items: center; display: flex;">
                    <div style="border: 10px solid white">{{itemname}}</div>
                </div>
            </div>
            <div class="info-box-1">
                <label for="amount">수량</label>
                <div style="width: 100%; height: 52px; align-self: stretch; border: 1px solid dimgray; border-radius: 8px; align-items: center; display: flex;">
                    <div style="border: 10px solid white">{{data.amount}}</div>
                </div>
            </div>
            <div class="info-box-1">
                <label for="size">사이즈</label>
                <div style="width: 100%; height: 52px; align-self: stretch; border: 1px solid dimgray; border-radius: 8px; align-items: center; display: flex;">
                    <div style="border: 10px solid white">{{data.size}}</div>
                </div>
            </div>
            <div class="info-box-1">
                <label for="color">색상</label>
                <div style="width: 100%; height: 52px; align-self: stretch; border: 1px solid dimgray; border-radius: 8px; align-items: center; display: flex;">
                    <div style="border: 10px solid white">{{data.color}}</div>
                </div>
            </div>
            <div class="info-box-1">
                <label for="material">소재</label>
                <div style="width: 100%; height: 52px; align-self: stretch; border: 1px solid dimgray; border-radius: 8px; align-items: center; display: flex;">
                    <div style="border: 10px solid white">{{data.material}}</div>
                </div>
            </div>
            <div class="info-box-2">
                <label for="info">상세 요청사항</label>
                <div style="padding: 10px; width: 100%; height: 239px; resize: none; overflow-y: auto; resize: none; overflow-y: auto; align-self: stretch; border: 1px solid dimgray; border-radius: 8px;">
                    {{data["상세 요청사항"]}}
                </div>
            </div>
        </div>
    </div>
    {% if session['nickname'] == seller %}
        {% if data.progress == "요청됨" %}
            <div id="final-button" style="justify-self: center;">
                <button class="submit-botton" style="justify-self: center; width: 1361px; height: 53px; background-color: #00462A; color: white; border-radius: 8px;" onclick="location.href='/end/{{seller}}/{{itemname}}/{{applier}}'">커스터마이징 제작 요청 완료하기</button>
            </div>
        {% endif %}
        {% if data.progress == "완료됨" %}
        <div id="final-button" style="justify-self: center;">
            <label style="justify-self: center; width: 1361px; height: 53px; background-color: #ffffffec; color: black; padding: 4px; border-radius: 2px;">완료된 요청입니다.</label>
        </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/application.css">
{% endblock %}

{% block extra_js %}
    <script src="/static/application.js"></script>
{% endblock %}