{% extends "index.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/buy.css">
{% endblock %}

{% block content %}
    <main class="cart-page">
        <h2>{{ session['nickname'] }}님</h2>
        <table class="cart-table">
            <thead>
                <tr>
                    <th>상품 정보</th>
                    <th>수량</th>
                    <th>수령 방법</th>
                </tr>
            </thead>
            <tbody>
                {% if cart_items %}
                    {% for key, item in cart_items.items() %}
                    <tr>
                        <td class="product-info">
                            <img src="{{ item['image'] }}" alt="상품 이미지" width="100">
                            <div>
                                <h3>{{ item['name'] }}</h3>
                                <p class="discount">{{ item['discount'] }}% <span class="price">{{ item['finalprice'] }}원</span></p>
                            </div>
                        </td>
                        <td class="quantity">
                            <div class="quantity-wrapper">
                                {% if item['option'] is iterable and item['option'] is not string %}
                                {% for option in item['option'] %}
                                    <p>{{ option }}: {{ item['quantity'] }}개</p>
                                {% endfor %}
                            {% else %}
                                <p>{{ item['option'] }}: {{ item['quantity'] }}개</p>
                            {% endif %}                            
                            
                            </div>
                        </td>
                        <td>
                            <select>
                                <option>수령방법 선택</option>
                                <option>택배</option>
                                <option>직접 수령</option>
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" style="text-align: center;">장바구니가 비어 있습니다.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <div class="cart-actions">
            <button class="continue" onclick="window.history.back()">CONTINUE SHOPPING</button>
        </div>
    </main>
    {% endblock %}