{% extends "index.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/buy.css">
{% endblock %}

{% block content %}
<main class="cart-page">
    <h2>{{ session['nickname'] }}님</h2>
    <table class="cart-table">
        <thead>
            <tr>
                <th>상품 정보</th>
                <th>수량</th>
                <th>수령 방법</th>
            </tr>
        </thead>
        <tbody>
            {% if data %}
                {% for username, items in data.items() %}
                    {% for item_name, item in items.items() %}
                    <tr>
                        <td class="product-info">
                            <img src="{{ item.image }}" alt="상품 이미지" width="100">
                            <div>
                                <h3>{{ item_name }}</h3>
                                <p class="discount"><span style="color:red"><b>{{ item.discount }}% </b></span><span class="price"> {{ item.finalprice }}원</span></p>
                            </div>
                        </td>
                        <td class="quantity">
                            <div class="quantity-wrapper">
                                {% for option, quantity in item.options.items() %}
                                    <p>{{ option }}: {{ quantity }}개</p>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <select>
                                <option>수령방법 선택</option>
                                <option>택배</option>
                                <option>직접 수령</option>
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" style="text-align: center;">구매한 아이템이 없습니다.</td>
                </tr>
            {% endif %}
        </tbody>               
    </table>
    <div class="cart-actions">
        <button class="continue" onclick="window.history.back()">CONTINUE SHOPPING</button>
    </div>
</main>

<script>
    window.onload = function () {
        const priceElements = document.querySelectorAll('.price');

        priceElements.forEach(priceElement => {
            let price = priceElement.textContent.trim();
            price = price.replace(/[^0-9]/g, ''); // 숫자가 아닌 모든 문자 제거
            if (price) {
                const formattedPrice = Number(price).toLocaleString(); // 천 단위 구분 기호 추가
                priceElement.textContent = formattedPrice + "원"; // 포맷팅된 가격 표시
            }
        });
    };
</script>
{% endblock %}
