{% extends "index.html" %}

{% block extra_css %}
<link rel="stylesheet" href="../static/itemdetail.css">
{% endblock %}

{% block section %}

<body>
    <div class="detail">
        <div class="detail-image">
            <img src="/static/images/empty_img.png" alt="center_img" width="550px" height="450px">
            <div style="margin-top: 15px; display: flex-center;">
                <img src="/static/images/empty_img.png" alt="center_img" width="10%">
                <img src="/static/images/empty_img.png" alt="center_img" width="10%">
                <img src="/static/images/empty_img.png" alt="center_img" width="10%">
                <img src="/static/images/empty_img.png" alt="center_img" width="10%">
                <img src="/static/images/empty_img.png" alt="center_img" width="10%">
                <img src="/static/images/empty_img.png" alt="center_img" width="10%">
                <img src="/static/images/empty_img.png" alt="center_img" width="10%">
            </div>
        </div>

        <form action=".php" class="detail-info">
            <p style="color:gray;"><img src="/static/images/user_icon.png" alt="user_icon" width="30" height="30">
                배꽃헤어</p>
            <p style="font-size:30px; margin: 20px 0;"><b>핸드메이드 행운 스크런치</b></p>
        <p style="color:gray; display: flex; justify-content: flex-end; margin: 0;"><del>10,000원</del></p>
            <p style="font-size: 30px; display: flex; justify-content: flex-end; margin: 10px 0;"><b>
            <span style="color:red; font-size: 40px; margin-right: 10px;">20%</span>8,000원</b></p>
            <select id="option" style="width: 100%;">
                <option value="green-color">옵션 선택</option>
            </select>
            <p style="display: flex; justify-content: space-between; margin: 20px 0;">S/화이트
            <input type="number" min="0" max="100" value="0"></p>
            <hr>
            <p style="display: flex; justify-content: flex-end; align-items: flex-end; margin: 20px 0;">총 금액
            <span style="font-size:30px;  margin-left: 10px;"><b>24,000원</b></span></p>

            <div style="float: right; margin: 20px 0;">
                <input type="button" value="장바구니" style="border: none; border-radius: 4px; width: 100px; height: 30px; font-size: 15px;">
                <input type="submit" value="구매하기" style="background-color:green; color: white; border: none; border-radius: 4px; width: 100px; height: 30px; font-size: 15px;">
            </div>
        </form>
    </div>

    <footer>
        <div class="footer_nav">
            <ul>
                <li><a href="#" class="active">상품 설명</a></li>
                <li><a href="#">리뷰</a></li>
                <li><a href="#">상품 문의</a></li>
            </ul>
        </div>
    </footer>
</body>
{% endblock %}

