<table>
    <tbody>
        {% for item in like_items %}
        <tr>
            <td>
                <div>
                    <img src="{{ item['image'] }}" alt="{{ item['name'] }}" width="100px" height="100px">
                    <div>
                        <p>{{ item['name'] }}</p>
                        <p>{{ item['price'] }}원</p>
                        <p>옵션: {{ item['selectedOptions'] | tojson }}</p>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
