{% extends "index.html" %}

{% block content %}
  <div class="row" style="justify-self: center;">
    <div class="column">
      <div class="column-nav">
          <ul style="list-style-type: none; justify-self: start;">
            <li><b><span style="font-size: 40px; color: black;">액세서리</span></b></li><br>
            <li><a href="#" class="active">#헤어</a></li>
            <li><a href="#">#안경</a></li>
            <li><a href="#">#귀걸이</a></li>
            <li><a href="#">#목걸이</a></li>
            <li><a href="#">#팔찌</a></li>
            <li><a href="#">#시계</a></li>
          </ul>
      </div>

      <div class="column-items">
        <table>
          <tr>
            <td>
              <a href="/itemdetail">
                <div id="itemsection">
                  <img src="../static/images/empty_img.png" alt="item_img" width="240px" height="192px" style="display: block;">
                  <p style="margin: 10px 0;">
                    <img src="../static/images/user_icon.png" alt="user_icon" width="20" height="20">
                    <span style="color:gray;">배꽃헤어</span>
                  </p>
                  <p style="font-size: 18px"><b>핸드메이드 행운 스크런치</b></p>
                  <p style="margin: 10px 0;"><span style="color:red"><b>20%</b></span> 8,000원</p>
                  <p><img src="../static/images/greenclover.png" alt="clover" width="20" hegiht="20"> 5.0 <span style="color:lightgray">(20)</span></p>
                </div>
              </a>
            </td>

            <td>
              <a href="/itemdetail">
                <div id="itemsection">
                  <img src="../static/images/empty_img.png" alt="item_img" width="240px" height="192px" style="display: block;">
                  <p style="margin: 10px 0;">
                    <img src="../static/images/user_icon.png" alt="user_icon" width="20" height="20">
                    <span style="color:gray;">배꽃헤어</span>
                  </p>
                  <p style="font-size: 18px"><b>핸드메이드 행운 스크런치</b></p>
                  <p style="margin: 10px 0;"><span style="color:red"><b>20%</b></span> 8,000원</p>
                  <p><img src="../static/images/greenclover.png" alt="clover" width="20" hegiht="20"> 5.0 <span style="color:lightgray">(20)</span></p>
                </div>
              </a>
            </td>

            <td>
              <a href="/itemdetail">
                <div id="itemsection">
                  <img src="../static/images/empty_img.png" alt="item_img" width="240px" height="192px" style="display: block;">
                  <p style="margin: 10px 0;">
                    <img src="../static/images/user_icon.png" alt="user_icon" width="20" height="20">
                    <span style="color:gray;">배꽃헤어</span>
                  </p>
                  <p style="font-size: 18px"><b>핸드메이드 행운 스크런치</b></p>
                  <p style="margin: 10px 0;"><span style="color:red"><b>20%</b></span> 8,000원</p>
                  <p><img src="../static/images/greenclover.png" alt="clover" width="20" hegiht="20"> 5.0 <span style="color:lightgray">(20)</span></p>
                </div>
              </a>
            </td>

            <td>
              <a href="/itemdetail">
                <div id="itemsection">
                  <img src="../static/images/empty_img.png" alt="item_img" width="240px" height="192px" style="display: block;">
                  <p style="margin: 10px 0;">
                    <img src="../static/images/user_icon.png" alt="user_icon" width="20" height="20">
                    <span style="color:gray;">배꽃헤어</span>
                  </p>
                  <p style="font-size: 18px"><b>핸드메이드 행운 스크런치</b></p>
                  <p style="margin: 10px 0;"><span style="color:red"><b>20%</b></span> 8,000원</p>
                  <p><img src="../static/images/greenclover.png" alt="clover" width="20" hegiht="20"> 5.0 <span style="color:lightgray">(20)</span></p>
                </div>
              </a>
            </td>
          </tr>

          <tr>
            <td>
              <a href="/itemdetail">
                <div id="itemsection">
                  <img src="../static/images/empty_img.png" alt="item_img" width="240px" height="192px" style="display: block;">
                  <p style="margin: 10px 0;">
                    <img src="../static/images/user_icon.png" alt="user_icon" width="20" height="20">
                    <span style="color:gray;">배꽃헤어</span>
                  </p>
                  <p style="font-size: 18px"><b>핸드메이드 행운 스크런치</b></p>
                  <p style="margin: 10px 0;"><span style="color:red"><b>20%</b></span> 8,000원</p>
                  <p><img src="../static/images/greenclover.png" alt="clover" width="20" hegiht="20"> 5.0 <span style="color:lightgray">(20)</span></p>
                </div>
              </a>
            </td>

            <td>
              <a href="/itemdetail">
                <div id="itemsection">
                  <img src="../static/images/empty_img.png" alt="item_img" width="240px" height="192px" style="display: block;">
                  <p style="margin: 10px 0;">
                    <img src="../static/images/user_icon.png" alt="user_icon" width="20" height="20">
                    <span style="color:gray;">배꽃헤어</span>
                  </p>
                  <p style="font-size: 18px"><b>핸드메이드 행운 스크런치</b></p>
                  <p style="margin: 10px 0;"><span style="color:red"><b>20%</b></span> 8,000원</p>
                  <p><img src="../static/images/greenclover.png" alt="clover" width="20" hegiht="20"> 5.0 <span style="color:lightgray">(20)</span></p>
                </div>
              </a>
            </td>

            <td>
              <a href="/itemdetail">
                <div id="itemsection">
                  <img src="../static/images/empty_img.png" alt="item_img" width="240px" height="192px" style="display: block;">
                  <p style="margin: 10px 0;">
                    <img src="../static/images/user_icon.png" alt="user_icon" width="20" height="20">
                    <span style="color:gray;">배꽃헤어</span>
                  </p>
                  <p style="font-size: 18px"><b>핸드메이드 행운 스크런치</b></p>
                  <p style="margin: 10px 0;"><span style="color:red"><b>20%</b></span> 8,000원</p>
                  <p><img src="../static/images/greenclover.png" alt="clover" width="20" hegiht="20"> 5.0 <span style="color:lightgray">(20)</span></p>
                </div>
              </a>
            </td>

            <td>
              <a href="/itemdetail">
                <div id="itemsection">
                  <img src="../static/images/empty_img.png" alt="item_img" width="240px" height="192px" style="display: block;">
                  <p style="margin: 10px 0;">
                    <img src="../static/images/user_icon.png" alt="user_icon" width="20" height="20">
                    <span style="color:gray;">배꽃헤어</span>
                  </p>
                  <p style="font-size: 18px"><b>핸드메이드 행운 스크런치</b></p>
                  <p style="margin: 10px 0;"><span style="color:red"><b>20%</b></span> 8,000원</p>
                  <p><img src="../static/images/greenclover.png" alt="clover" width="20" hegiht="20"> 5.0 <span style="color:lightgray">(20)</span></p>
                </div>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <footer>
      <div class="pagination" style="justify-self: center;">
          <a href="#" class="prev" style="color: gray">← Previous</a>
          <a href="#" class="page active">1</a>
          <a href="#" class="page">2</a>
          <a href="#" class="page">3</a>
          <a href="#" class="page">4</a>
          <a href="#" class="page">5</a>
          <a href="#" class="next" style="color: #006400">Next →</a>
      </div>
  </footer>
{% endblock content %}