<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <!-- Logo Image -->
            <img src="/static/images/logo.png" alt="EWH&MADE Logo" class="logo-image">
            {% with mesg = get_flashed_messages() %}
            {% if mesg != [] %}
            <script>alert("{{ mesg[0] }}")</script>
            {% endif %}
            {% endwith %}
            <form action="/login_confirm" method="POST">
                <div class="input-group">
                    <input type="text" id="id" name="id" placeholder="ID" required>
                </div>
                <div class="input-group">
                    <input type="password" id="pw" name="pw" placeholder="Your Password" required>
                    <img src="/static/images/eye.png" alt="Toggle Visibility" class="password-toggle" onclick="togglePassword()">
                </div>
                <button type="submit" class="login-btn">Log in</button>
            </form>
            <div class="divider">
                <hr>
                <span>New to our community</span>
                <hr>
            </div>
            <a href="/signup">
                <button class="signup-btn">Create an account</button>
            </a>
        </div>
    </div>

    <script>
        // JavaScript to toggle password visibility
        function togglePassword() {
            const passwordInput = document.getElementById('pw');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        }
    </script>
</body>
</html>