{% extends "index.html" %}

{% block nav %}
<hr>
{% endblock %}

{% block content %}
    <br>
    <div id="title" style="justify-self: center;">
        <form>리뷰 작성하기</form>
    </div>

    <form id="regreview" action="/reg_review" method="post" enctype="multipart/form-data">
        <div style="width: 1341px; padding: 0px; overflow: hidden; justify-self: center;">
            <div style="margin-left: 0px; font-size: 15px;">
                <label for="name">상품<br><br></label>
                <div style="display: flex; align-items: center;">
                    <img src="/{{data.images[0]}}" style="width: 77px; height: 77px; background-color: dimgray; margin-right: 15px; border: 2px solid #00462A;">
                    <div style="gap: 8px; display: flex; flex-direction: column;">
                        {% if data %}
                        <label style="font-weight: bold;" type="text" id="user" name="user">제작자명: {{data.seller}}</label>
                        <label type="text" id="name" name="ame">상품명: {{name}}</label>
                        <input type="hidden" id="itemname" name="itemname" value="{{name}}"></input>
                        {% endif %}
                    </div>                
                </div>
            </div>
            <br>        
            <hr>
            <div class="reg-review" style="float: left; padding-left: 0px; display: flex; flex-direction: column;">
                <div class="reg-item-1" style="gap: 8px; display: flex; flex-direction: column;">
                    <label for="options">구매 옵션<span style="color: red;">*</span></label>
                    <select id="options" name="options" style="width: 612px; height: 52px; align-self: stretch; margin: 0; border-radius: 8px;">
                        {% for i in range(0, data.options | length) %}
                            {% if data.options[i] %}
                                <option value="{{data.options[i]}}">{{ data.options[i] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>             
                <div class="reg-item-2" style="gap: 8px; display: flex; flex-direction: column;">
                    <label for="info">상세 리뷰<span style="color: red;">*</span></label>
                    <textarea name="info" id="info" style="width: 612px; height: 308px; resize: none; overflow-y: auto; flex: none; border-radius: 8px;" placeholder="20자 이상 작성해주세요" required></textarea>
                </div>                         
            </div>

            <div class="reg-review" style="float: right; width: 659px; padding-right: 10px; padding-left: 0px;">
                <div style="justify-self: center;">상품이 만족스러우셨나요?<br><br></div>
                <div class="stars" style="justify-self: center;">
                    <div class="star">
                        <img id="clover1" src="/static/images/clover.png" style="width: 40px;" onmouseover="changecolor(1)" onclick="fixcolor(1)">
                    </div>
                    <div class="star">
                        <img id="clover2" src="/static/images/clover.png" style="width: 40px;" onmouseover="changecolor(2)" onclick="fixcolor(2)">
                    </div>
                    <div class="star">
                        <img id="clover3" src="/static/images/clover.png" style="width: 40px;" onmouseover="changecolor(3)" onclick="fixcolor(3)">
                    </div>
                    <div class="star">
                        <img id="clover4" src="/static/images/clover.png" style="width: 40px;" onmouseover="changecolor(4)" onclick="fixcolor(4)">
                    </div>
                    <div class="star">
                        <img id="clover5" src="/static/images/clover.png" style="width: 40px;" onmouseover="changecolor(5)" onclick="fixcolor(5)">
                    </div>
                </div>
                <br>
                <div style="padding-left: 25px;">이미지를 추가해주세요<br><br></div>
                <div class="upload-grid-2">
                    <div class="upload-box-2" id="box1" onclick="openFileDialog(event, 1)">
                        <img id="preview1" style="display: none; width: 196px; height: 100%; margin-top: px;" />
                        <label id="plus1" style="width: 196px; font-size: 32pt; text-align: center; color: dimgrey; cursor: pointer;">+</label>
                        <input id="fileInput1" type="file" name="file1" style="display: none;" onchange="changeIMG(1)" />
                    </div>
                    <div class="upload-box-2" id="box2" onclick="openFileDialog(event, 2)">
                        <img id="preview2" style="display: none; width: 196px; height: 100%; margin-top: px;" />
                        <label id="plus2" style="width: 196px; font-size: 32pt; text-align: center; color: dimgrey; cursor: pointer;">+</label>
                        <input id="fileInput2" type="file" name="file2" style="display: none;" onchange="changeIMG(2)" />
                    </div>
                    <div class="upload-box-2" id="box3" onclick="openFileDialog(event, 3)">
                        <img id="preview3" style="display: none; width: 196px; height: 100%; margin-top: px;" />
                        <label id="plus3" style="width: 196px; font-size: 32pt; text-align: center; color: dimgrey; cursor: pointer;">+</label>
                        <input id="fileInput3" type="file" name="file3" style="display: none;" onchange="changeIMG(3)" />
                    </div>
                </div>
                <br>
                <input type="hidden" id="clovers" name="clovers" style="justify-self: center;" value="0"></input>
                <div id="final-button" style="justify-self: center;">
                    <input class="submit-botton" type="submit" value="리뷰 등록" style="width: 660px; height: 52px; background-color: #00462A; color: white; border-radius: 8px;" onclick="addReview(event)">
                </div>
            </div>
        </div>
    </form>

<script src="/static/reg_reviews.js"></script>

{% endblock %}

