<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My Page</title>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/mypage.css">
  <script src="https://kit.fontawesome.com/2d9d20b888.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="my-page-container">
        <p class="page-title">마이페이지</p>
        <p class="welcome-message">이*화님 안녕하세요!</p>
        <p class="email-info">ewha****@gmail.com</p>
        
        <div class="menu">
            <div class="menu-item">
                <i class="fa-solid fa-truck fa-3x" alt="주문 / 배송 아이콘"></i>
                <p class="menu-text">주문 / 배송</p>
                <p class="menu-subtext">보기</p>
            </div>
            <div class="menu-item">
                <i class="fa-solid fa-comments fa-3x" alt="리뷰 아이콘"></i>
                <p class="menu-text">리뷰</p>
                <p class="menu-count">6</p>
            </div>
            <div class="menu-item">
                <i class="fa-solid fa-heart fa-3x" alt="찜한 상품 아이콘"></i>
                <p class="menu-text">찜한 상품</p>
                <p class="menu-count">14</p>
            </div>
            <div class="menu-item">
                <i class="fa-solid fa-cart-shopping fa-3x" alt="장바구니 아이콘"></i>
                <p class="menu-text">장바구니</p>
                <p class="menu-count">4</p>
            </div>
        </div>

        <div class="recent-products-section">
            <p class="recent-products-title">최근 본 상품</p>
            <div class="recent-products">
                <div class="product-placeholder"></div>
                <div class="product-placeholder"></div>
                <div class="product-placeholder"></div>
                <div class="product-placeholder"></div>
                <div class="product-placeholder"></div>
            </div>
            <a href="#" class="see-more-link">더보기 ></a>
        </div>

        <div class="customer-center">
            <p class="customer-center-title">고객센터</p>
            <a href="#" class="notice-link">공지사항</a>
            <a href="#" class="product-qna-link">상품 Q&A 내역</a>
            <a href="#" class="faq-link">FAQ</a>
        </div>

        <div class="user-profile">
            <i class="fa-solid fa-user" alt="아바타 이미지"></i>
            <button id="logout" value="로그아웃">로그아웃</button>
        </div>

    </div>
</body>
</html>
